.AboutConnt{
     display: flex;
}
.upAbt{
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    padding: 20px;
    text-transform: capitalize;
}
.abText{
     font-size: 400;
     font-size: 1rem;
     line-height: 50px;
     padding:20px ;
}
.aboutText{
     margin: 50px;
}
.woman{
    margin: 20px;
    height: 500px;
    width: 500px;
}
.midleContainer{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 50px;
}
.div1{
   border: 1.5px solid black;
   text-align: center;
   padding: 25px;
   transition: .5s all ease-in;
}
.div1:hover {
     background-color: #DB4444;
     color: white;
}
.boldText{
      font-size: 1.5rem;
      font-weight: bolder;
      text-transform: capitalize;
      padding: 10px;
}
.infotext{
      font-size: 1rem;
      font-weight: 500;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode','Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      padding: 10px;
}
.fa-brands{
     margin: 5px;
}.name {
     font-size: 1.5rem;
     font-weight: bolder;
}
.title{
     margin: 5px ;
     font-size: 1rem;
     text-transform: capitalize;
}
.peopleContainer{
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.iconCont{
     display:flex;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 70px;
}
.iconTExt{
      font-size: 1rem;
      font-weight: bolder;
      text-transform: uppercase;
      padding-top: 15px;
}
.box1{
     text-align: center;
     padding: 10px;
     transition: .5s all ease-in;
     border-radius: 10px;
}
.txt{
     padding: 10px;
    font-family: fira sans;
}
.box1:hover {
     background-color: #DB4444;
     color: white;
}
#imgt{
     background-color: whitesmoke;
}