.name{
    font-size: 15px;
    font-weight: 100;
    margin: 5px;
}
.billing_input{
    width: 100%;
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
}
.billingProduct{
    display: flex;
    justify-content: space-between;
}
.pName ,priceBill{
    padding: 5px;
    text-transform: capitalize;
    padding: 5px;
}
.gm{
    height: 50px;
    width: 50px;
}
.subt ,.shippingCont{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 15px;
}
.couponBtn ,.applyCoupon{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    margin: 10px;
}
.couponDiv{
    width: 100%;
    border:1.5px solid black;
    padding: 10px;
    margin: 10px;
}
.couponBtn:hover ,.applyCoupon:hover{
    background-color: #DB4444;
    transition: .5s all ease-in;
}
.rad , .radio{
    margin:8px;
}
.coupCont{
    display: flex;
    justify-content:space-between;
    padding: 10px;
}  
/*
 
.parentBillingContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
} */
