.GridContainer{
    display: grid;
    grid-template-columns: repeat(2 ,150px);
    grid-template-rows: repeat(2 ,200px);
    /* background-color: #ff67ff; */
    gap: 30px;
    margin: 30px;
}
.gridCont1{
    /* background-color: red; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 20px;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.116);
}

.gridCont2{
    grid-column-start:3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.116);
    position: relative;
}
.mobile{
    background-color:#DB4444;
    padding: 5px;
    transform: rotateY(200deg);
    border-radius: 50%;
}
.phoneNumber{
    display: block;
}
.available{
    padding: 10px;
    line-height: 30px;
}
.phoneNumber{
    padding: 10px;
    line-height: 30px;
}
.underLinediv{
   border-bottom: 1.2px solid black;
}
.envIcon{
    background-color:#DB4444;
    padding: 5px;
    transform: rotateY(200deg);
    border-radius: 50%;
    margin-top: 4px;
}
.envlope{
    margin-top: 10px;
    padding: 5px;
}
.fill , .email{
    padding-top: 30px;;
}
.contactInput{
    margin: 30px;
    padding: 12px;
    width: 190px;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.452);
}
textarea{
    margin: 20px;
    border: none;
    outline: none;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.589);
    padding: 10px;
}
.sendMEssageBTn{
    color: white;
    width: 150px;
    padding: 9px;
    background-color: #DB4444;
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: none;
    outline: none;
    border-radius: 7px;
}
