.flashcontainer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.timeContainer{
    display: flex;
    margin-left: 30px;
}
.span{
    display: block;
}
.time{
    margin: 10px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}
.flash{
    color: #DB4444;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-top: 10px;
}
.day{
    font-weight: bolder;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 30px;
}
.arrow{
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    border: none;
    outline: none;
}
.mm{
    display: flex;
    justify-content: space-evenly;

}
.eachItem{
padding: 50px;
position:relative;
background-color: whitesmoke;
}
.innerEye{
   position: absolute;
   top: 20px;
   right:20px ;
}
.ic{
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}
.percenTage{
    position: absolute;
    top: 20px;
     right:160px ;
     background-color: #DB4444;
     padding: 5px;
     border-radius: 10px;
}
.tagName{
    font-weight: bold;
    font-size: 1rem;
}
.star{
    color: yellow;
    margin: 3px;
}
.starText{
     color: rgb(143, 122, 122);
}
.goodImg{
    height: 200px;
    width: 200px;
}
.buy{
    width: 200px;
    margin-top: 20px;
    padding: 9px;
    font-size: bold;
    text-transform: capitalize;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}
.view{
    font-size: bold;
    text-transform: capitalize;
    background-color:#DB4444;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    font-size: 1rem;
}
.btnView{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}