.flashcontainer{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.timeContainer{
    display: flex;
    margin-left: 30px;
}
.span{
    display: block;
}
.time{
    margin: 10px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
}
.flash{
    color: #DB4444;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    margin-top: 10px;
}
.day{
    font-weight: bolder;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 30px;
}
.arrow{
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    border: none;
    outline: none;
}
.mm{
    display: flex;
    justify-content: space-evenly;

}
.eachItem{
padding: 50px;
position:relative;
}
.innerEye{
   position: absolute;
   top: 20px;
   right:20px ;
}
.ic{
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}
.percenTage{
    position: absolute;
    top: 20px;
     right:160px ;
     background-color: #DB4444;
     padding: 5px;
     border-radius: 10px;
}
.goodImg{
    background-color: whitesmoke;
}