.footerContainer{
    background-color: black;
    margin-top: 50px;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}
.exclusive{
 font-size: 2rem;
 font-weight: bold;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-transform: capitalize;
 padding: 10px;
}
.get , .sub{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 10px;
}
.FooterInpt{
    background-color: transparent;
    border: 1.5px solid white;
    padding: 10px;
    margin: 10px;
    color: white;
}
.supp{
    font-size: 2rem;
 font-weight: bold;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-transform: capitalize;
 padding: 10px;
}
.add{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 10px;
}
.acc{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 10px;
}
.FotterLink{
    display: block;
      margin-top: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 8px;
    color: white;
    letter-spacing: 2px;
}