*{
    padding: 0;
    margin: 0;
    font-family: fira sans;
}
.Header{
    display: flex;
    justify-content: space-between;
    padding-block-end: 20px;
    border-bottom:1.5px solid black;
}
.logoText{
    font-weight: 500;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 10px;
}
.Link{
     padding: 10px;
     text-decoration: none;
     font-weight: 400;
     text-transform: capitalize;
     font-size: 1.5rem;
     color: black;
}
.Navcontainer{
 margin-top: 20px;
 position: relative;
}
.searchContainer{
    margin-top:20px ;
}
.input {
    padding: 8px;  
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px black;
    position: relative;
}
.searchIcon {
    position: relative;
    right: 25px;
}
.fa-love , .fa-cart-shopping{
    margin: 10px;
}
.MobileHeader{
    display: none;
}

.MobileNavcontainer{
    display: none;
}
@media only screen and (max-width:768px){
    .Header{
        justify-content: space-between;
        padding-block-end: 20px;
        border-bottom:1.5px solid black;
        display: none;
    }
    .MoblogoText{
        font-weight: 500;
        font-size: 1.5rem;
        font-weight: bolder;
        text-transform: capitalize;
        padding: 10px;
    }
    .MobileHeader{
        display:flex;
        justify-content: space-evenly;
        padding: 9px;
    }
    .MobileNavcontainer{
       box-shadow:1px 1px 1px .5px rgb(34, 33, 33) ;
        padding: 50px;
        height: 100vh;
        width: 75vw;
        position: absolute;
        background-color:black;
         color: white;
        animation-name: slideInBar;
        animation-duration: .3s;
        display: block;
    }
    
     @keyframes  slideInBar {
         0%{transform: translatex(50px);}
     }
    .MobileLink{
        display: block;
        margin: 20px;
        text-decoration: none;
        color:white;
        text-transform: capitalize;
        padding: 9px;
        text-align: center;
        transition: all .3s ease;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .MobileLink:hover{
        box-shadow: 1px 1px 1px .5px black;
        padding: 9px;
        transform: translateX(-10px);
    }
    .searchContainer{
        text-align: center;
    }
    .mobIcon{
        padding-left:7px;
    }
    .openBtn{
        padding: 5px;
        color: black;
        font-weight: bolder;
        font-size: 1.2rem;
        background-color: transparent;
        border: none;
    }
    .Mobinput{
    margin: 10px;
    padding: 8px;  
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px black;
    position: relative;
     }
} 