.heroText{
    padding: 15px;
    margin: 10px;
    text-transform: capitalize;
    font-weight: 200;
    font-size: 1rem;
}
.fa-chevron-right{
margin-left: 40px;
}
.right{
    margin-left: 65px;
}
.textBox{
     border-right: 1.5px solid black;
    
}
.heroIphone{
    width:500px;
}
.heroImg{
    display: flex;
    justify-content: space-around;
    background-color: black;
    line-height: 90px;margin:30px ;
}
.hero2{
    font-size: 4em;
    font-weight: 400;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
.apple{
     padding: 15px;
}
.up , .v{
    color: white;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.Herom{
    text-align: center;
    padding: 15px;
}
.heroParentContainer{
     display: flex;
     justify-content: space-between;
}
@media only screen and (max-width:768px) {
    .heroParentContainer{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        z-index: -1;
   }
   
.heroImg{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 90px;
     margin: 0px;
    width: 100%;
}
 .textBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
 }
 .Mobinput{
    margin-top: 5px;
 }
 .heroIphone{
    height: 300px;
    width: 300px;
 }
 .up , .v{
    color: white;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.Herom{
    text-align: center;
    padding: 15px;
}
}
