.CatText{
     color: #00FF66;
     text-transform: capitalize;
     font-weight: bold;
     margin: 20px;
     font-size: 2rem;
}
.enhanceText{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 3rem;
    padding: 10px;
}
.JBlContainer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}
.roundedText{
    background-color: white;
    color: black;
    margin: 10px;
    text-align: center;
    border-radius: 20%;
    padding: 5px;
}
.enhance{
    display: flex;
}
.time{
    display: block;
}
.buyBtn{
    background-color: #00FF66;
    font-size: 1rem;
    width: 150px;
    padding: 15px;
    border: none;
    outline: none;
    margin: 20px;
    border-radius: 10px;
    text-transform: capitalize;
}
@media  only screen and (max-width:768px) {
    .JBlContainer{
        background-color: black;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        margin: 0px;
    }
    .JBlIMG{
        width: 300px;
        width: 300px;
    }
}