.formParent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.formCont{
     margin: 20px;
     padding: 20px;
     /* width: 100%; */
}
.UpperText{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}
form{
     margin: 40px;
}
.enter{
   font-weight: bolder;
   font-size: 1rem;
   margin: 20px;
}
.log{
    margin-top: 50px;
    width: 300px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    text-transform: capitalize;
}
.blog{
    background-color: #DB4444;
    width: 100%;
    margin-top: 35px;
    padding: 10px;
    border-radius: 9px;
    border: none;
    outline: none;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1rem;
}