.formParent{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.formCont{
     margin: 20px;
     padding: 20px;
     /* width: 100%; */
}
.UpperText{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
form{
     margin: 40px;
}
.enter{
   font-weight: bolder;
   font-size: 1rem;
   margin-left: 95px;
   padding: 10px;
}
.log{
    margin-top: 50px;
    width: 300px;
    padding: 5px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    text-transform: capitalize;
}
.btn{
    background-color: #DB4444;
    padding: 10px;
    
    border-radius: 9px;
    border: none;
    outline: none;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 1rem;
}

.already{
    font-weight: normal;
    font-size: 1.2rem;
    text-align: center;
     text-transform: capitalize;
}
.pss{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.fgtp{
    color: #DB4444;
}
@media  only screen and (max-width){
    .formParent{
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;
        flex-wrap: wrap;
        background-color: red;
    }
    .formCont{
         margin: 0px;
         padding: 00px;
         /* width: 100%; */
    }
    .imglog{
        height: 300px;
        width: 300px;
    }
}