.My_account_container{
    display: flex;
    justify-content: space-around;
    position: absolute;
}
.manage{
    font-weight: normal;
    text-transform: capitalize;
}
.profile{
    margin: 15px;
    text-transform: capitalize;
}
.accountDetailsContainer{
    margin: 15px;
}
.edit{
    font-weight: normal;
    text-transform: capitalize;
    margin: 20px;
}
.asideFormContainer{
    width: 60%;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.116);
    margin: 20px;
    padding: 20px;
    position: relative;
    left: 20px;

    animation-name: aside;
    animation-duration: .5s;
}
 @keyframes aside {
    0%{
        transform: translateX(150px);
    }
 }
.inputContainer{
    display: flex;
}
.FNameInnput{
    width: 270px;
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
    margin-top: 5px;
}
.inp1 , .inp2{
    margin: 15px;
    position: relative;
    right: 55px;
}
.FName ,.LName{
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.accoutBtn{
    border: none;
    outline: none;
    position: absolute;
    background-color:#DB4444;
    padding: 10px;
    right: 20px;
    margin-top: 10px;
    width: 150px;
    text-transform: capitalize;
}
.secondForm{
    position: relative;
}
.passwordInput{
    width: 100%;
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
    margin: 20px;
    text-transform: capitalize;
}
.showed{
    color: #DB4444;
    transform: translateX(50px);
}
.sided{
    position: sticky;
   left: 10px;
}