.My_account_container{
    display: flex;
    justify-content: space-around;
}
.manage{
    font-weight: normal;
    text-transform: capitalize;
}
.profile{
    margin: 15px;
    text-transform: capitalize;
}
.accountDetailsContainer{
    margin: 15px;
}
.edit{
    font-weight: normal;
    text-transform: capitalize;
    margin: 20px;
}
.asideFormContainer{
    width: 60%;
    box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.116);
    margin: 20px;
}
.inputContainer{
    display: flex;
}
.FNameInnput{
    width: 270px;
    padding: 10px;
    background-color: #F5F5F5;
    border: none;
    outline: none;
    margin-top: 5px;
}
.inp1 , .inp2{
    margin: 15px;
}
.FName ,.LName{
    font-weight: normal;
    font-size: 1.2rem;
    text-transform: capitalize;
}