.flexParentContainer{
 margin-left: 90px;
}
.innerFlexContainer{
    display: flex;
    justify-content: space-evenly;
}
.flexme{
    width: 500px;
}

.flexContainer{
    display: flex;
    /* width: 600px; */
} 
.flexBox1{
    background-color: black;
    color: white;
    position: relative;
}
.flexBox3{
    padding: 10px;
    background-color: black;
    margin: 15px;
    color: white;
    position: relative;
}
.flexBox4{
    padding: 10px;
    background-color: black;
    margin: 15px;
    color: white;
    position: relative;
}

.flexBox2{
    padding: 10px;
    background-color: black;
    color: white;
    position: relative;
    margin: 20px;
}
.prodName{
    font-size: 1.5rem;
    font-family: fira sans;
    padding: 5px;
    position: absolute;
    bottom: 100px;
}
.productDesc{
    font-size: 1rem;
    font-family: fira sans;
    padding: 5px;
    position: absolute;
    bottom: 60px;
}
.shop{
    font-size: 1rem;
    font-family: fira sans;
    padding: 5px;
    text-decoration: underline;
    position: absolute;
    bottom: 20px;
    font-weight: bold;
}
.featured{
    font-weight: bold;
    font-size: 1.5rem;
    color:#DB4444;
    padding: 20px;
    text-transform: capitalize;
}
.newArrival{
    font-weight: bold;
    font-size: 2rem;
    padding: 20px;
    text-transform: capitalize;
}
@media only screen and (max-width:768px){
    .flexParentContainer{
 margin-left: 0px;
}
.innerFlexContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flexme{
    /* width: 500px; */
}

.flexContainer{
    display: flex;
    /* width: 600px; */
    flex-wrap: wrap;
} 
.flexBox1{
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
margin: 20px;
}
.flexBox3{
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
}
.flexBox4{
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
}
.ps{
    width: 300px;
    height: 300px;
}
}